# Account 1 (required)
APP_KEY=
APP_SECRET=
ACCOUNT_NO=

# Account 1 (optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Account 2 (optional)
APP_KEY_ACC2=
APP_SECRET_ACC2=
ACCOUNT_NO_ACC2=
TELEGRAM_BOT_TOKEN_ACC2=
TELEGRAM_CHAT_ID_ACC2=
